<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Home</title>
<link rel="stylesheet" href="/frontend/static/style/index.css">
</head>
<body>
    <script src="../static/script/main.js"></script>
    <div class="sparkles">
        <div class="sparkle" style="left: 10%; animation-duration: 4s; animation-delay: 0s;"></div>
        <div class="sparkle" style="left: 20%; animation-duration: 5s; animation-delay: 1s;"></div>
        <div class="sparkle" style="left: 35%; animation-duration: 3.5s; animation-delay: 0.5s;"></div>
        <div class="sparkle" style="left: 50%; animation-duration: 4.5s; animation-delay: 1.5s;"></div>
        <div class="sparkle" style="left: 65%; animation-duration: 3.8s; animation-delay: 0.8s;"></div>
        <div class="sparkle" style="left: 80%; animation-duration: 4.2s; animation-delay: 1.2s;"></div>
        <div class="sparkle" style="left: 90%; animation-duration: 3.7s; animation-delay: 0.3s;"></div>
    </div>

    <h1>Seja bem-vindo(a) <span id="userName"></span>!</h1>

    <p><a href="https://github.com/dosanjosfelipe/LoginPage" target="_blank">Clique aqui para acessar esse 
        <br> projeto no GitHub!</a></p>

    <button id="exit" onclick=exitAccount()>SAIR</button>
    
</body>
</html>
