<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<link rel="stylesheet" href="../static/style/index.css">
<body>
    <script
        src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs"
        type="module"
    ></script>
    <script src="../static/script/main.js"></script>

    <header>
        <div class="logo">
            <p>LoginPage</p>
            <p class="top">Home</p>
        </div>
        <div class="navegation">
            <nav>
                <a href="https://github.com/dosanjosfelipe" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/dosanjos-felipe/" target="_blank">LinkedIn</a>
            </nav>
        </div>
    </header>
    <div class="left-side">
        <h1>O <span>LoginPage</span> é um projeto pessoal para portfólio!</h1>
        <h2>Ele é um site de cadastro e login usando Java e SpringBoot, com recursos de login, registro, 
            recuperação de senha, token de autentificação e criptografia.</h2>
        <div class="links">
            <a href="login.html">Ir para login</a>
            <a href="register.html">Ir para cadastro</a>
        </div>
    </div>
    <div class="right-side">
        <dotlottie-player
            src="https://lottie.host/80baefe1-e8b8-4ac5-890d-7e1e803d1404/oLKNT80HH3.json"
            background="transparent"
            speed="1"
            style="width: 500px; height: 700px;"
            loop
            autoplay
        ></dotlottie-player>
    </div>
</body>
</html>