<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/style.css">
    <title>Página de Login</title>
</head>
<body>
    <div class="container">
        <h1 class="login-h1">Entrar</h1>
        <div class="forms">
            <form id="loginForm">
                <div class="datas">
                    <input type="email" name="email" placeholder="Email" id="email">
                    <input type="password" name="password" placeholder="Senha" id="password">
                </div>

                <div class="datas2">
                    <span>
                        <input type="checkbox" id="rememberMe" name="remember">
                        <label for="remember">Lembrar de mim</label>
                    </span>
                    <a href="password.html">Esqueceu sua senha?</a>
                </div>

                <div class="submit-button">
                    <input type="submit" name="submit" value="Entrar">
                </div>
            </form>
            <div class="signup-button">
                <p>Não tem uma conta? <a href="register.html">Registre-se</a></p>
            </div>
        </div>
    </div>
    <script src="../static/script/script.js"></script>
</body>
</html>