<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/style.css">
    <title>Página de Registro</title>
</head>
<body>
    <div class="container">
        <h1 class="login-h1">Digite sua nova senha</h1>
        <div class="forms">
            <form id="newPasswordForm">
                <div class="datas">
                    <input type="password" name="password" placeholder="Nova senha" id="newPassword" autocomplete="new-password">
                    <input type="password" name="secondPassword" placeholder="Confirmar nova senha" id="new-password" 
                    autocomplete="secondPassword">
                </div>

                <div class="submit-button">
                    <input type="submit" name="submit" value="Redefinir">
                </div>
            </form>
        </div>
    </div>
    
    <script src="../static/script/main.js"></script>
    <script src="../static/script/api.js"></script>
    <script src="../static/script/formHandlers.js"></script>
</body>
</html>