<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/style.css">
    <title>Página de Registro</title>
</head>
<body>
    <div class="container">
        <h1 class="login-h1">Criar Conta</h1>
        <div class="forms">
            <form id="registerForm">
                <div class="datas">
                    <input type="text" name="name" placeholder="Nome" id="name">
                    <input type="email" name="email" placeholder="Email" id="email">
                    <input type="password" name="password" placeholder="Senha" id="password">
                    <input type="password" name="secondPassword" placeholder="Confirmar senha" id="secondPassword">
                </div>

                <div class="submit-button">
                    <input type="submit" name="submit" value="Cadastrar">
                </div>
            </form>
            <div class="signup-button">
                    <p>Já tem um conta? <a href="login.html">Entre aqui</a></p>
            </div>
        </div>
    </div>
    <script src="../static/script/script.js"></script>
</body>
</html>