<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/style.css">
    <title>Página de Registro</title>
</head>
<body>
    <script
        src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs"
        type="module"
    ></script>
    <div class="sides-container">
        <div class="left-side">
            <h1 class="login-h1">Registre-se</h1>
            <div class="forms">
                <form id="registerForm">
                    <div class="datas">
                        <input type="text" name="name" placeholder="Nome" id="name" autocomplete="username">
                        <input type="email" name="email" placeholder="Email" id="email" autocomplete="email">
                        <input type="password" name="password" placeholder="Senha" id="password" autocomplete="new-password">
                        <input type="password" name="secondPassword" placeholder="Confirmar senha" id="secondPassword" 
                        autocomplete="new-password">
                    </div>

                    <div class="submit-button">
                        <input type="submit" name="submit" value="Cadastrar">
                    </div>
                </form>
                <div class="signup-button">
                    <p>Já tem uma conta? <a href="login.html">Faça login</a></p>
                </div>
            </div>
        </div>
        <div class="right-side">
            <dotlottie-player
                src="https://lottie.host/b8ccff04-a4d1-4c1d-abe6-c224ae278645/5bmVJ48d0l.json"
                background="transparent"
                speed="1"
                style="width: 450px; height: 450px"
                loop
                autoplay
            ></dotlottie-player>
        </div>
    </div>

    <script src="../static/script/main.js"></script>
    <script src="../static/script/api.js"></script>
    <script src="../static/script/formHandlers.js"></script>
</body>
</html>


